@if(lockSession) {




  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <h2>Lock Session {{sessionToken}}</h2>

        @if(lockSession?.isTotalControlToken()) {
          <div>
            <h2 class="text-warning">Total control token</h2>
          </div>
        }

        <h3>What is this for?</h3>
        <p>This is where you see contracts you've written for this lock + holder.</p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 1em;">
    <form [formGroup]="knownTokenForm" (submit)="saveNotes()">
      <fieldset>
        <div class="col-sm-10">
          <label for="notes">Notes: </label>
          <input id="notes" class="form-control" type="text" formControlName="notes" placeholder="Name this session so it's easy to remember">
        </div>

        <button class="btn btn-small btn-primary" type="submit">
          Save
        </button>
      </fieldset>
    </form>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-large btn-primary" (click)="navToNewContract()">New Contract</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        @for (c of contracts; track c.name){
          <app-contract-card [contract]="c"></app-contract-card>
        }
      </div>
    </div>
  </div>
}







