# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=15000

CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=5000

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
#CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y

CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
CONFIG_BT_ENABLED=n

CONFIG_LWIP_IPV6=n

CONFIG_MBEDTLS_SERVER_SSL_SESSION_TICKETS=n
CONFIG_MBEDTLS_SSL_ALPN=n
CONFIG_MBEDTLS_SSL_RENEGOTIATION=n
CONFIG_MBEDTLS_CCM_C=n
CONFIG_MBEDTLS_SHA3_C=n
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y

CONFIG_VFS_SUPPORT_TERMIOS=n
CONFIG_VFS_SUPPORT_SELECT=n
CONFIG_VFS_SUPPORT_DIR=n
CONFIG_VFS_SUPPORT_IO=n

CONFIG_ESP32_REV_MIN_3_1=y

CONFIG_SPI_FLASH_YIELD_DURING_ERASE=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=15

SPI_FLASH_VERIFY_WRITE=y