@if(lockSession) {
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <h3>Share Link</h3>
        <p>Share this link to have people write contracts that you will have the option to accept/reject.</p>
        <input class="form-control" id="lockLink" [value]="getShareLink()" [disabled]="true">

        <button class="btn btn-info" (click)="copyToClipboard(getShareLink())">Copy to clipboard</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <h3>Total Control Link</h3>
        <p>Share this link to have people write and assign contracts directly. You will not be presented an option.</p>
        <input class="form-control" id="lockLink2" [value]="getTotalControlLink()" [disabled]="true">

        <button class="btn btn-info" (click)="copyToClipboard(getTotalControlLink())">Copy to clipboard</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <h3>Contracts</h3>
        @for (c of contracts; track c.name){
          <app-contract-card [contract]="c"></app-contract-card>
        }
      </div>
    </div>
  </div>
}
