@if(contract) {
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <h2>Contract Details for {{contract.name}}</h2>
        <h3>What is this for?</h3>
        <p>Manage your contract.</p>

        <p>
          State: {{contract.state}}
        </p>

        @if(contractDescription) {
          <h3>Terms</h3>
          <p>
            Temporary unlock allowed: {{contractDescription.isTemporaryUnlockAllowed}}
          </p>
          <p>
            Terms: {{contractDescription.terms}}
          </p>
        }

        @if(contract.notes) {
          <h3>Notes</h3>
          <p>{{contract.notes}}</p>
        }

        @switch (contract.state) {
          @case('CONFIRMED') {
            Accepted and confirmed 😈
          }
          @case('RELEASED') {
            Contract has ended.
          }
          @case('CREATED'){
            Review
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-lg btn-primary" (click)="approve()">Accept</button>
            </div>

            <div class="d-grid gap-2">
              <button type="button" class="btn btn-lg btn-warning" (click)="reject()">Reject</button>
            </div>
          }
        }

        @if(commands.length > 0) {
          <hr>
          <h3>Commands</h3>

          <div class="bs-component">
            @for(c of commands; track c.name) {
              <app-command-card [command]="c"></app-command-card>
            }
          </div>
        }

      </div>
    </div>
  </div>
}
