@if(contract) {
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <h2>Contract Details for {{contract.name}}</h2>
        <h3>What is this for?</h3>
        <p>See your contract.</p>

        <div>
          <h3>State</h3>
          {{contract.state}}
        </div>

        @if(contractDescription) {
          <h3>Terms</h3>
          <p>
            Temporary unlock allowed: {{contractDescription.isTemporaryUnlockAllowed}}
          </p>
          <p>
            Terms: {{contractDescription.terms}}
          </p>
        }

        @if(contract.notes) {
          <h3>Notes</h3>
          <p>{{contract.notes}}</p>
        }

        @switch (contract.state) {
          @case('CONFIRMED') {
            Accepted and confirmed 😈
          }
          @case('RELEASED') {
            Contract has ended.
          }
          @case('CREATED'){
            Review
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-lg btn-primary" (click)="approve()">Accept</button>
            </div>

            <div class="d-grid gap-2">
              <button type="button" class="btn btn-lg btn-warning" (click)="reject()">Reject</button>
            </div>
          }
        }

        @if(contract.messages?.length! > 0) {
          <hr>
          <div class="bs-component">
            <h3>Bot Messages</h3>
            <ul class="list-group">
              @for(m of contract.messages; track m.name) {
                <li class="list-group-item">{{m.body}}</li>
              }
            </ul>
          </div>
        }

        @if(commands.length > 0) {
          <hr>
          <h3>Commands</h3>

          <div class="bs-component">
            @for(c of commands; track c.name) {
              <app-command-card [command]="c"></app-command-card>
            }
          </div>
        }

      </div>
    </div>
  </div>
}
