<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <h2>Key Generator</h2>
      <h3>What is this for?</h3>
      <p>This will make you a key. A key is really just an image containing a QR code.
        I strongly recommend saving this to your phone camera roll or to some place it will be safe
        and probably backed up automatically. If you lose it, it's gone forever.</p>

      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="generateQRCode()">Generate Key</button>
      </div>

      <div #qrCodeContainer>
        <canvas #canvas></canvas>
      </div>

      @if(showDownloadButton) {
        <div class="d-grid gap-2">
          <button class="btn btn-large btn-primary" (click)="downloadQRCode()">Download QR Code</button>
        </div>
      }
    </div>
  </div>
</div>
