<div>
  <h1>Key Generator</h1>

  <div>
    In order to make and sign contracts, you need a key.
    This will generate you a key in the form of a QR code image.
  </div>
  <!-- QR Code Input -->
  <button (click)="generateQRCode()">Generate Key</button>

  <!-- QR Code Display -->

    <div #hiddenDiv hidden>
      <h1 style="color: red">Do not share.</h1>
      <canvas #canvas></canvas>
      <button (click)="downloadQRCode()">Download QR Code</button>
      <h1 style="color: red">Do not share.</h1>
    </div>



<!--  <h2>Scan QR Code from Image</h2>-->
<!--  <input type="file" (change)="onFileSelected($event)" accept="image/*">-->
<!--  <canvas #scanCanvas style="display: none;"></canvas>-->
<!--  <p>Scanned QR Code Data: <strong>{{ scannedResult }}</strong></p>-->
</div>
