/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootswatch/dist/spacelab/bootstrap.min.css';

//@import "../node_modules/angular-calendar/css/angular-calendar.css";
//@import "../node_modules/flatpickr/dist/flatpickr.css";

.list-group-item {
  white-space: pre-wrap;
}

.btn {
  margin: 0.25em
}

.row {
  margin-top: 1em;
}
