<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body})}">
<body>
<h1>Help</h1>

<p>
    Overlord_exe is a collection of bots and helpers for Tartarus contracts.
</p>

<h2>How do I interact?</h2>

<p>
    The main way to interact with Overlord_exe is to DM with him.
</p>

<p>
    You can message him:
    <ul class="list-group">
        <li class="list-group-item"><code>bsky_likes TOKEN GOAL</code> Token is your shareable token from your Tartarus lock and goal is how many likes you need to accumulate to be freed.</li>
        <li class="list-group-item"><code>bsky_selflock</code> Overlord_exe will respond with a link to a form to fill out all the parameters to issue a contract.</li>
    </ul>
</p>
</body>
</html>
