<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <h2>Contract Builder</h2>

      <form [formGroup]="contractForm" (submit)="createContract()">
        <fieldset>
          <div class="form-check form-switch">
            <label class="form-check-label" for="isTempUnlockAllowed">Is temporary unlocking allowed?</label>
            <input id="isTempUnlockAllowed" class="form-check-input" type="checkbox" formControlName="isTempUnlockAllowed">
          </div>

          <div>
            <label class="form-label" for="notes">Terms</label>
            <textarea id="terms" class="form-control" type="text" formControlName="terms" placeholder="Part of the contract body. Will be digitally signed." rows="3"></textarea>
          </div>

          <div>
            <label class="form-label" for="notes">Notes</label>
            <textarea id="notes" class="form-control" type="text" formControlName="notes" placeholder="Only shown on website" rows="3"></textarea>
          </div>

          <div>
            <label class="form-label" for="bots">Bot Names</label>
            <textarea id="bots" class="form-control" type="text" formControlName="bots" placeholder="Bot names" rows="3"></textarea>
          </div>

          <button class="btn btn-lg btn-primary" type="submit">
            Save
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <div #hiddenDiv hidden>
        <h3 style="color: black">Contract</h3>
        <canvas #canvas></canvas>
      </div>
    </div>
  </div>
</div>
